*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body html{
	overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.inner-cursor{
	position: fixed;
	left: 3vw;
	width: 2vw;
	height: 2vw;
	transform: translate(-50%, -50%);
	background-color: #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow{
	width: 6vw;
	height: 6vw;
	transition: width 0.5s, height 0.5s;
}

.outer-cursor.grow{
	width: 6vw;
	height: 6vw;
	transition: width 0.5s, height 0.5s;
}

.outer-cursor{
	position: fixed;
	left: 3vw;
	width: 3vw;
	height: 3vw;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	background-color: #fff;
	mix-blend-mode: difference;
	border-radius: 50%;
	pointer-events: none;
	transition: 0.1s;
}


.counter{
	font-family: 'Libre Bodoni', serif;
	font-weight: 600;
}

.bar{
	width: 10vw;
	height: 100vh;
	background-color: rgb(18, 17, 17);
}

/* Navigation  */
.nav-sec {
	font-family: 'Poppins', sans-serif; 
	font-style: normal;
	font-weight: 500;
	transition: ease 0.4s;
}

.navbar{
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Anton', sans-serif;
	font-style: normal;
	font-weight: 300;
}

.close-icon{
	font-family: 'Poppins', sans-serif; 
	font-weight: 300;
}

.menu-num{
	font-family: 'Bodoni Moda', serif;
	font-weight: 400;
}

.navImage-display1, .navImage-display2, .navImage-display3{	
		position: fixed;
		left: 0;
		pointer-events: none;
		transition: transform .1s;
		transform: rotate(45deg);
		opacity: 0;
}

.exploreHead{
	font-family: 'Anton', sans-serif;
    font-weight: 500;
}

.exploreBody{
	font-family: 'Poppins', sans-serif;
    font-weight: 200;
}


/* .navigation::after{
	content: '';
	height: 0.8vw;
	width: 0;
	background:  rgb(202 138 4);
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.5s;
} */

.navigation:hover::after{
	width: 100%;

}

#menu-wrapper{
	transition: 0.6s;
}

.menuuu{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-icon{
	transition: color 0.4s linear;
}


.hb{
	font-family: 'Bodoni Moda', serif;
	font-weight: 400;
}

.stu{
	font-family: 'Bodoni Moda', serif;
	font-weight: 800;
}

.hBs{
	font-family: 'Bodoni Moda', serif;
	font-weight: 600;
}

.welcomex{
	font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.welcomeNav, .noos{
	font-family: 'Bodoni Moda', serif;
	font-weight: 600;
}

.mission-statement{
	font-family: 'Anton', sans-serif;
}

.crafting{
	font-family: kepler-std-semicondensed-dis, serif;
	font-style: italic;
	font-weight: 400;    
}

/* .circle{	
	border-radius: 50%;
} */


.circleTextAnim{
	font-family: 'Anton', sans-serif;
	font-weight: 600;
	animation: anim 7s linear infinite;
}

@keyframes anim {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.text span{
	position: absolute;
	left: 50%;
	font-size: 1.2em;
	transform-origin: 0 100px;
}

.scroll, .dive{
	font-family: 'Poppins', sans-serif; 
    font-weight: 200;
}

.premiumNo{
	font-family: 'Bodoni Moda', serif;
	font-weight: 700;
}

.dArrow{
	animation: arrowAnimate 2s infinite;
}

@keyframes arrowAnimate {
	0%{
		opacity: 0;
		transform: translateY(0)
	}

	50%{
		opacity: 1;
		transform: translateY(1vw)
	}

	100%{
		opacity: 0;
		transform: translateY(2.5vw)
	}
}

.exploreHB{
	font-family: 'Bodoni Moda', serif;
    font-weight: 400;
}

.we-transcend{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 500;
}

.a-vision{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.subHead{
	font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.subBody{
	font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.style{
	font-family: 'Anton', sans-serif;
}

.subHeader{
	font-kerning: none;
}

.line:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transform-origin: 100% 0;
	background: black;
}

.infuse{
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.style-music{
	font-family: 'Bodoni Moda', serif;
}

.works{
	/* font-family: 'Poppins', sans-serif;  */
    font-weight: 600;
	font-family: neue-haas-grotesk-display, sans-serif;
}

.costume-styling{
	font-family: 'Anton', sans-serif;
	font-style: italic;
	font-weight: 900;
}

.cs-HbStudios{
	font-family: 'Anton', sans-serif;
	font-weight: 800;
}

.one{
	font-family: 'Bodoni Moda', serif;
	font-style: italic;
}

.heaven{
	font-family: 'Poppins', sans-serif; 
	font-weight: 200;
}

.parallax-img, .parallax-img1{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.benson, .dedayo{
	font-family: 'Bodoni Moda', serif;
	font-weight: 300;
}

.artiste{
	font-family: 'Poppins', sans-serif; 
	font-weight: 300;
}

.costumeDesigns{
	font-weight: 300;
	font-family: 'Poppins', sans-serif; 
}

.heaven2{
	font-weight: 600;
}

.urban{
	font-family: 'Anton', sans-serif;
	font-weight: 600;
}

.urb{
	font-family: 'Anton', sans-serif;
	font-weight: 500;
}

.firstLetter{
	font-family: 'Bodoni Moda', serif;
	font-weight: 600;
}

.artisteName{
	font-family: 'Bodoni Moda', serif;
	font-weight: 200;
}

.viewMore{
	font-family: 'Bodoni Moda', serif;
	font-weight: 200;
}

.heaven-subHead{
	font-weight: 700;
}

.subHead-no{
	font-family: 'Bodoni Moda', serif;
	font-weight: 500;
}

.heaven1{
	font-family: 'Anton', sans-serif;
	font-weight: 300;
}

.art-express{
	font-family: 'Bodoni Moda', serif;
	font-weight: 400;
}

.wow-factor{
	font-family: 'Poppins', sans-serif; 
	font-weight: 300;
}

.express{
	font-family: 'Poppins', sans-serif; 
	font-weight: 300;
}

.film-speak{
	font-family: 'Bodoni Moda', serif;
	font-weight: 300;
}

.credit{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}


.credit-subhead{
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
}

.credit-ans{
	font-weight: 600;
	font-family: 'Bodoni Moda', serif;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.lineParent{
	overflow: hidden;
}

.lineChildren{
    transform: translate(0, 32vw);
}

.film{
	font-family: 'Anton', sans-serif;
	font-weight: 800;
}

.celebrate{
	font-weight: 300;
	font-family: 'Bodoni Moda', serif;
}

.text span{
	font-size: 14px;
}


/* outer slider */
.swiper {
	width: 100%;
	height: 100%;
  }


.swiper-slide{
	width: 31vw;
	min-height: 60vh;
	height: 60vh;
	border-radius: 2vw;
	background: rgb(24 24 27);
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }


  /* Individual inner slider */
.mySwiper2 {
	margin-left: auto;
	margin-right: auto;
  }

.swiper-pagination-bullet-active{
	background: white;
} 

.swiper, .swiper-slide img{
	border-radius: 2vw;
}

.nameProj1{
	font-family: 'Bodoni Moda', serif;	
	font-weight: 500;
	font-size: 3vw;
	line-height: 3.2vw;
	text-transform: uppercase;
}

.nameProj2{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3.2vw;
	line-height: 3.2vw;
}

.projArr{
	height: 4vw;
	width: 4vw;
}


/* FOOTER */
.hbs1{
	font-family: 'Anton', sans-serif;
	font-weight: 800;
}

.footer-nav{
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.newsLet{
	font-family: 'Bodoni Moda', serif; 
    font-weight: 600;
}

.newsLet1{
	font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.loadCont1{
	background: white;
}

.sentCont1{
	background: blue;
}

.load, .sent{
	font-family: 'Bodoni Moda', serif; 
    font-weight: 400;
}

.backTop{
	font-weight: 800;
}

.madeBy{
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}


@media screen and (min-width: 640px) {
	.nameProj1{
		font-size: 2vw;
		line-height: 2.2vw;
	}
	
	.nameProj2{
		font-size: 2.2vw;
		line-height: 2.2vw;
	}

	.projArr{
		height: 2.5vw;
		width: 2.5vw;
	}
}

@media screen and (min-width: 768px) {
	/* .projArr{
		height: 1.7vw;
		width: 1.7vw;
	} */
}

/* Min width */
@media screen and (min-width: 1024px){
	.swiper-slide{
		min-height: 600px;
		height: 600px;
	}

	.nameProj1{
		font-size: 1.5vw;
		line-height: 1.7vw;
	}
	
	.nameProj2{
		font-size: 1.7vw;
		line-height: 1.7vw;
	}

	.projArr{
		height: 1.7vw;
		width: 1.7vw;
	}
}

@media screen and (min-width: 1280px) {
	.swiper-slide{
		min-height: 70vh;
		height: 70vh;
		border-radius: 1.5vw;
	}

	.swiper, .swiper-slide img{
		border-radius: 1.5vw;
	}	

	.nameProj1{
		font-size: 1vw;
		line-height: 1.2vw;
	}
	
	.nameProj2{
		font-size: 1.2vw;
		line-height: 1.2vw;
	}
}


/* Max width */
@media all and (max-width: 1024px){
	.madeBy{
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
	}
}




/* From Uiverse.io by Fernando-sv */ 
.loader {
	border: 4px solid green;
	border-left-color: transparent;
	border-radius: 50%;
  }
  
  .loader {
	border: 4px solid green;
	border-left-color: transparent;
	width: 36px;
	height: 36px;
  }
  
  .loader {
	border: 4px solid green;
	border-left-color: transparent;
	width: 36px;
	height: 36px;
	animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }